<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo nta</title>
    <link rel="stylesheet" href="output.css">
    <script src="js/main.js" defer></script>
</head>
